@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway-bold {
    font-weight: bold;
}

.navbar-item {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: black; 
    text-decoration: none;  
}

.navbar-for-Ronnie-dev .navbar-item {
    font-size: 24px;
    margin-left: 40px;
    font-weight: 800;
}

.navbar {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 10px; 
    margin-top: 15px;
}

.navbar-menu {
    display: flex;
    justify-content: space-between; 
    margin-left: 50px; 
}

.navbar-end {
    display: flex; 
    gap: 30px; 
    text-decoration: none;
    margin-right: 40px;
}

.menu-button {
    display: none; 
}

@media screen and (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
    }

    .menu-button {
        display: block;
    }

    .menu-button span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 5px 0;
    }
}

.navbar-menu.show {
    display: flex;
    
   
}



